# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        java-version:
          - 17
    env:
      MAVEN_OPTS: >
        -Dorg.eclipse.jetty.LEVEL=DEBUG
        -Dorg.eclipse.jetty.http.LEVEL=DEBUG
        -Dorg.eclipse.jetty.io.LEVEL=DEBUG
        -Dorg.eclipse.jetty.client.LEVEL=DEBUG
        -Dorg.eclipse.jetty.util.LEVEL=DEBUG
        -Dcom.facebook.airlift.LEVEL=DEBUG
        -Dcom.facebook.airlift.http.client.jetty.LEVEL=DEBUG
        -Dcom.facebook.airlift.http.server.LEVEL=DEBUG
        -Dorg.eclipse.jetty.dumpAfterStart=true
    steps:
    - uses: actions/checkout@v4
      with: 
        show-progress: false
        # needed for the git-commit-id-plugin to work
        fetch-depth: 0
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        cache: maven
    - name: Maven install
      run: mvn install
